<form action="/user/home/post/create-post" method="post">
    <textarea name="content" id="" cols="50" rows="5" placeholder="Type Here" required></textarea>
    <input type="submit" value="Post">
</form>