<section>
    <ul>
        <%if (locals.user){%>
            <% for (u of users_list){%>
                <%if (user.id!=u.id){%>
                    <li>

                        <img src="<%=u.avatar%>" alt="" width = "50px">
                        <a href="/user/home/profile/<%=u.id%>"><%= u.name%></a>
                    </li>
                <%}%>    
            <%}%>
        <%}%>
    </ul>
</section>