<section>
    <H3>Posts</H3>
    <% if (locals.user){ %>
        <%- include('_postForm') -%>
    <%}%>
    <div id="post-container">
        <ul>
            <% for(post of locals.posts){%>
                
                    <%- include('_post') -%>
                
                
            <%} %>
        </ul>

    </div>

    <div id="friends container">
        <h3>Friends</h3>
        <%- include('_users_list') -%>
    </div>
</section>