<section>
    <H3>Posts</H3>
    <form action="/user/home/post/create-post" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <div id="post-container">
        <ul>
            <% for(post of locals.posts){%>
                <p>
                    <li>
                        <%= post.content %>
                        <br>
                        <%= post.user.name%>
                    </li>
                </p>
                
            <%} %>
        </ul>

    </div>
</section>